h1 {
  color: black;
  text-align: center;
  font-family: "Courier New";
  font-size: 80px;
	margin-top: 0px;
  margin-bottom: 2px;
  background-color: DarkSeaGreen
} 
.subheader {
	color: grey; 
	text-align: center;
	font-family: "Courier New";
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 2px;
}
.subheader2 {
	color: grey;
    	text-align: center;
    	font-family: "Courier New";
    	font-size: 12px;
    	margin-top: 2px;
    	margin-bottom: 0px;
}
.experience {
	text-align: left;
    	font-family: "Arial";
   	font-size: 20px;
	font-weight: bold;
    	margin-top: 18px;
    	border-style: dotted;
	border-color: DarkSeaGreen;
}
.birchwooddiv {
	background-color: HoneyDew;
	margin-top: 2px;
    	margin-bottom: 0px;
	font-family: "Arial";
	text-size: 18px;
}
.cdbdiv {
	margin-top: 2px;
    	margin-bottom: 0px;
	font-family: "Arial";
	text-size: 18px;
}
.swcddiv {
	background-color: HoneyDew;
	margin-top: 2px;
    	margin-bottom: 0px;
	font-family: "Arial";
	text-size: 18px;
}
.surlydiv {
	margin-top: 2px;
    	margin-bottom: 0px;
	font-family: "Arial";
	text-size: 18px;
}
.pwsdiv {
	background-color: HoneyDew;
	margin-top: 2px;
    	margin-bottom: 0px;
	font-family: "Arial";
	text-size: 18px;
}
.macdiv {
	margin-top: 2px;
    	margin-bottom: 0px;
	font-family: "Arial";
	text-size: 18px;
}

.education {
	color: black;
    	text-align: left;
    	font-family: "Arial";
    	font-size: 20px;
	font-weight: bold;
    	margin-top: 12px;
	border-style: dotted;
    	border-color: CornFlowerBlue;
}
.skills {
	color: black;
    	text-align: left;
   	font-family: "Arial";
	font-weight: bold;
    	font-size: 20px;
    	margin-top: 12px;
    	border-style: dotted;
	border-color: DarkSeaGreen;
}
.certifications {
	color: black;
    	text-align: left;
    	font-family: "Arial";
	font-weight: bold;
    	font-size: 20px;
    	margin-top: 12px;
	border-style: dotted;
    	border-color: CornFlowerBlue;
}
