<style>
h1 {
  color: black;
  text-align: center;
  font-family: "Courier New";
  font-size: 20;
  margin-bottom: 2px;
  background-color: DarkSeaGreen
} 
.subheader {
	color: grey;
    text-align: center;
    font-family: "Courier New";
    font-size: 6;
    margin-top: 0px;
    margin-bottom: 2px;
}
.subheader2 {
	color: grey;
    text-align: center;
    font-family: "Courier New";
    font-size: 6;
    margin-top: 2px;
    margin-bottom: 0px;
}
.Professional Experiences {
	text-align: left;
    font-family: "Courier New";
    font-size: 18
}
p {
	color: black;
    text-align: right;
    font-family: "Courier New"
}
</style>
