h1 {
  color: black;
  text-align: center;
  font-family: "Courier New";
  font-size: 40px;
  margin-bottom: 2px;
  background-color: DarkSeaGreen
} 
.subheader {
	color: grey; 
	text-align: center;
	font-family: "Courier New";
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 2px;
}
.subheader2 {
	color: grey;
    	text-align: center;
    	font-family: "Courier New";
    	font-size: 12px;
    	margin-top: 2px;
    	margin-bottom: 0px;
}
.experience {
	text-align: left;
    	font-family: "Courier New";
   	font-size: 20px;
    	margin-top: 18px;
    	background-color: HoneyDew;
}
.birchwooddiv {
	border: dotted;
	border-color: AliceBlue;
}
.education {
	color: black;
    	text-align: left;
    	font-family: "Courier New";
    	font-size: 20px;
    	margin-top: 12px;
    	background-color: CornSilk;
}
.skills {
	color: black;
    	text-align: left;
   	font-family: "Courier New";
    	font-size: 20px;
    	margin-top: 12px;
    	background-color: HoneyDew;
}
.certifications {
	color: black;
    	text-align: left;
    	font-family: "Courier New";
    	font-size: 20px;
    	margin-top: 12px;
    	background-color: CornSilk;
}
